## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
pip install gmaps

Requirement already satisfied: gmaps in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (0.9.0)
Requirement already satisfied: six in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from gmaps) (1.16.0)
Requirement already satisfied: ipython>=5.3.0 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from gmaps) (7.29.0)
Requirement already satisfied: ipywidgets>=7.0.0 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from gmaps) (7.6.5)
Requirement already satisfied: traitlets>=4.3.0 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from gmaps) (5.1.0)
Requirement already satisfied: geojson>=2.0.0 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from gmaps) (2.5.0)
Requirement already satisfied: jedi>=0.16 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (0.18.0)
Requirement already satisfied: pickleshare in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: appnope in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (0.1.2)
Requirement already satisfied: pygments in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (2.10.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (3.0.20)
Requirement already satisfied: backcall in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: matplotlib-inline in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (58.0.4)
Requirement already satisfied: pexpect>4.3 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (4.8.0)
Requirement already satisfied: decorator in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (5.1.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.0.0->gmaps) (1.0.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.0.0->gmaps) (5.1.3)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.0.0->gmaps) (6.4.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.0.0->gmaps) (0.2.0)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (1.4.1)
Requirement already satisfied: jupyter-client<8.0 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.12)
Requirement already satisfied: tornado<7.0,>=4.2 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=5.3.0->gmaps) (0.8.2)
Requirement already satisfied: python-dateutil>=2.1 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.2)
Requirement already satisfied: pyzmq>=13 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (22.2.1)
Requirement already satisfied: jupyter-core>=4.6.0 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (4.8.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (21.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=5.3.0->gmaps) (0.7.0)
Requirement already satisfied: wcwidth in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.4.5)
Requirement already satisfied: nbconvert in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.1.0)
Requirement already satisfied: argon2-cffi in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.1.0)
Requirement already satisfied: Send2Trash>=1.5.0 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.9.4)
Requirement already satisfied: jinja2 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.3)
Requirement already satisfied: prometheus-client in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.11.0)
Requirement already satisfied: cffi>=1.0.0 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.14.6)
Requirement already satisfied: pycparser in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.20)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.3)
Requirement already satisfied: bleach in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (4.0.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: testpath in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.0)
Requirement already satisfied: jupyterlab-pygments in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.1.2)
Requirement already satisfied: defusedxml in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.3)

Requirement already satisfied: nest-asyncio in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.1)
Requirement already satisfied: async-generator in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.10)
Requirement already satisfied: packaging in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (21.0)
Requirement already satisfied: webencodings in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/uzmasyed/opt/anaconda3/lib/python3.9/site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saldanha,ZA,2022-03-29 16:53:02,-33.0117,17.9442,68.05,80,64,7.56,broken clouds
1,1,Mahebourg,MU,2022-03-29 16:53:03,-20.4081,57.7000,79.09,78,40,3.44,scattered clouds
2,2,Punta Arenas,CL,2022-03-29 16:53:03,-53.1500,-70.9167,44.71,57,75,14.97,broken clouds
3,3,Parana,AR,2022-03-29 16:53:04,-31.7320,-60.5238,90.57,57,71,8.57,broken clouds
4,4,Rikitea,PF,2022-03-29 16:53:04,-23.1203,-134.9692,77.27,70,56,3.76,broken clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 89

In [5]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saldanha,ZA,2022-03-29 16:53:02,-33.0117,17.9442,68.05,80,64,7.56,broken clouds
1,1,Mahebourg,MU,2022-03-29 16:53:03,-20.4081,57.7000,79.09,78,40,3.44,scattered clouds
4,4,Rikitea,PF,2022-03-29 16:53:04,-23.1203,-134.9692,77.27,70,56,3.76,broken clouds
5,5,Kuching,MY,2022-03-29 16:53:05,1.5500,110.3333,79.02,94,20,3.44,few clouds
6,6,Port Alfred,ZA,2022-03-29 16:53:05,-33.5906,26.8910,72.18,79,88,4.00,overcast clouds
8,8,Kavaratti,IN,2022-03-29 16:53:06,10.5669,72.6420,83.80,75,15,8.50,few clouds
9,9,Busselton,AU,2022-03-29 16:53:06,-33.6500,115.3333,66.60,78,84,16.04,broken clouds
10,10,Port Blair,IN,2022-03-29 16:53:06,11.6667,92.7500,80.64,94,40,2.30,mist
13,13,Malanje,AO,2022-03-29 16:53:08,-9.5402,16.3410,67.91,90,91,0.47,light rain
14,14,Carnarvon,AU,2022-03-29 16:53:08,-24.8667,113.6333,75.27,88,75,6.91,broken clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                296
City                   296
Country                293
Date                   296
Lat                    296
Lng                    296
Max Temp               296
Humidity               296
Cloudiness             296
Wind Speed             296
Current Description    296
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saldanha,ZA,2022-03-29 16:53:02,-33.0117,17.9442,68.05,80,64,7.56,broken clouds
1,1,Mahebourg,MU,2022-03-29 16:53:03,-20.4081,57.7000,79.09,78,40,3.44,scattered clouds
4,4,Rikitea,PF,2022-03-29 16:53:04,-23.1203,-134.9692,77.27,70,56,3.76,broken clouds
5,5,Kuching,MY,2022-03-29 16:53:05,1.5500,110.3333,79.02,94,20,3.44,few clouds
6,6,Port Alfred,ZA,2022-03-29 16:53:05,-33.5906,26.8910,72.18,79,88,4.00,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
658,658,Muncar,ID,2022-03-29 17:10:32,-8.4333,114.3333,75.88,92,75,2.66,broken clouds
660,660,Manzini,SZ,2022-03-29 17:10:33,-26.2500,31.5000,69.66,69,0,4.23,clear sky
664,664,Buta,CD,2022-03-29 17:10:34,2.7858,24.7300,69.57,99,100,4.92,moderate rain
665,665,Samarai,PG,2022-03-29 17:10:34,-10.6167,150.6667,80.98,81,92,11.03,overcast clouds
666,666,Rampur,IN,2022-03-29 17:10:35,28.8167,79.0333,79.63,8,0,3.53,clear sky

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Saldanha,ZA,68.05,broken clouds,-33.0117,17.9442,
1,Mahebourg,MU,79.09,scattered clouds,-20.4081,57.7000,
4,Rikitea,PF,77.27,broken clouds,-23.1203,-134.9692,
5,Kuching,MY,79.02,few clouds,1.5500,110.3333,
6,Port Alfred,ZA,72.18,overcast clouds,-33.5906,26.8910,
8,Kavaratti,IN,83.80,few clouds,10.5669,72.6420,
9,Busselton,AU,66.60,broken clouds,-33.6500,115.3333,
10,Port Blair,IN,80.64,mist,11.6667,92.7500,
13,Malanje,AO,67.91,light rain,-9.5402,16.3410,
14,Carnarvon,AU,75.27,broken clouds,-24.8667,113.6333,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json() 
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Saldanha,ZA,68.05,broken clouds,-33.0117,17.9442,Blue Bay Lodge
1,Mahebourg,MU,79.09,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
4,Rikitea,PF,77.27,broken clouds,-23.1203,-134.9692,People ThankYou
5,Kuching,MY,79.02,few clouds,1.5500,110.3333,Hilton Kuching
6,Port Alfred,ZA,72.18,overcast clouds,-33.5906,26.8910,The Halyards Hotel
8,Kavaratti,IN,83.80,few clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
9,Busselton,AU,66.60,broken clouds,-33.6500,115.3333,Observatory Guest House
10,Port Blair,IN,80.64,mist,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
13,Malanje,AO,67.91,light rain,-9.5402,16.3410,Hotel Ginga
14,Carnarvon,AU,75.27,broken clouds,-24.8667,113.6333,Hospitality Carnarvon

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].dropna()
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Saldanha,ZA,68.05,broken clouds,-33.0117,17.9442,Blue Bay Lodge
1,Mahebourg,MU,79.09,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
4,Rikitea,PF,77.27,broken clouds,-23.1203,-134.9692,People ThankYou
5,Kuching,MY,79.02,few clouds,1.5500,110.3333,Hilton Kuching
6,Port Alfred,ZA,72.18,overcast clouds,-33.5906,26.8910,The Halyards Hotel

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))